<template>
  <Layout>
    <div class="row is-multiline">
      <div class="hero-body has-background-grey-light subtitle">
        Ausgabe ihrer Bestellung vom
        <p class="title">{{formatDate(this.order.completionDate)}}</p>
      </div>
      <div class="navbar-open has-background-danger" v-if="isOpenAnyProduct()">
        Das Ausgabefach ist geöffnet. Bitte entnehmen Sie Ihren Einkauf:
        <br>
        <h2> {{getProduct()}}</h2>
      </div>
      <div class="columns is-multiline">
        <div
          class="column is-full-desktop is-full-tablet is-full-mobile"
          v-for="product in this.orderedItems" :key="product.id">
          <div class="notification">
            <img :src="removeImageResize(product.image)" alt="Example" width="200" height="100"/>
            <div class="content">
              <p class="title is-centered is-size-4">{{ product.name }}
              </p>
            </div>
            <div class="column is-one-fifth">
              <p>Stückzahl: {{product.quantity}}</p>
              <br>
            </div>
            <div class="columns is-full-desktop is-full-tablet is-full-mobile" :id="product.name">
              <SwipeButton
                ref="swipeButton"
                class="swipe-button"
                @actionConfirmed="onActionConfirmed(product.name)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
    import SwipeButton from 'vue-swipe-button'
    import axios from 'axios'
    import 'vue-swipe-button/dist/swipeButton.css'

    export default {
        components: {
          SwipeButton
        },
        metaInfo() {
          return {
            title: 'Goofy'
          }
        },
        data() {
            return {
                orderId: String,
                order: String,
                orderedItems: [],
            }
        },
        created() {
            console.log("created()")
            const {orderId} = this.$route.params
            this.orderId = orderId;
            this.$store.commit('setOpenProduct', undefined)
        },
        async mounted() {
            console.log("mounted")
            this.loadOrder();
        },
        methods: {
            async loadOrder() {
                console.log("loadOrder")
                try {
                    const response = await axios.get('https://app.snipcart.com/api/orders/' + this.orderId, {
                        auth: {
                            username: 'ST_ZWE5N2UwYWEtMDkzOC00YjkzLTk0ODMtOTlhZjhmYzZkMzI2NjM3MjQ0MzMxNzg3OTU1MTY1',
                            password: ''
                        }
                    })
                    this.order = await response.data;
                    this.orderedItems = this.order.items
                    console.log('Order loaded!')
                    this.$forceUpdate()
                } catch (error) {
                    console.log(error)
                }
            },
            removeImageResize(url) {
                const splittedUrl = url.split("/")
                return splittedUrl[0] + "/" + splittedUrl[1] + "/" + splittedUrl[2] + "/" + splittedUrl[4];
            },
            onActionConfirmed(product) {
                this.openDoorForProduct(product)
                this.$forceUpdate()
            },
            isOpenAnyProduct() {
                return !!this.$store.openProduct
            },
            getProduct() {
                return this.$store.openProduct
            },
            openDoorForProduct(product) {
                this.$store.commit('setOpenProduct', product)
            },
            formatDate(date) {
                const _date = new Date(Date.parse(date));
                return _date ? new Intl.DateTimeFormat('de', { dateStyle: "full", timeStyle: "medium" }).format(_date) : "";
                //if (date != undefined) {
                    //return date.toLocaleString().replace('Z', '').replace('T', ' ');
                //} else return date;
            }
        }
    }
</script>

<style>
  .swipe-button {
    flex: none;
    width: 50%;
    background-color: deepskyblue;
  }

  .swipe-button .slide-button {
    background-color: lightgray !important;
    left: 100%
  }

  .swipe-button .completed {
    visibility: hidden;
  }

  .swipe-button #slider {
    max-width: 100%;
    width: 100%;
    background-color: #A9218E;
  }

  .swipe-button #overlay {
    max-width: 100%;
    width: 100%;
    background-color: deepskyblue !important;
  }

  .swipe-button .slide-button .button-text {
    color: white !important;
    font-size: 1.25rem;
  }

  .swipe-button .slide-text {
    visibility: hidden;
    position: relative;
  }

  .swipe-button .slide-text:after {
    color: white !important;
    font-size: 1.25rem;
    visibility: visible;
    content: "Ausgabefach öffnen";
  }

  .swipe-button .completed .slide-text:after {
    color: white !important;
    font-size: 1.25rem;
    visibility: visible;
    content: "Ausgabefach geöffnet";
  }

  .navbar-open {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    z-index: 100;
    padding: 1rem;
    color: #363636;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
  }

  .notification {
    padding-right: 1.25rem;
  }

  @media screen and (max-width: 768px) {

    .swipe-button {
      flex: none;
      width: 100%;
      background-color: deepskyblue;
    }

    .swipe-button .slide-text:after {
      color: white !important;
      font-size: 1rem;
      visibility: visible;
      content: "Ausgabefach öffnen";
    }

    .swipe-button .completed .slide-text:after {
      color: white !important;
      font-size: 1rem;
      visibility: visible;
      content: "Ausgabefach geöffnet";
    }
  }

</style>
