<template>
  <Layout>
    <div class="section">
      <div class="notification is-one-third">
        <b-carousel>
          <b-carousel-item v-for="(image, i) in $page.gcms.product.image" :key="i">
            <figure class="image">
              <img :src="image.url"/>
            </figure>
          </b-carousel-item>
        </b-carousel>
        <div class="content">
          <h1>{{ $page.gcms.product.name }}
            <b-taglist>
              <b-tag v-if="$page.gcms.product.specialOffer"
                     type="is-danger"
              >Angebot!
              </b-tag>
              <b-tag v-if="count <= 0"
                     type="is-danger"
              >Ausverkauft!
              </b-tag>
              <b-tag v-else-if="count <= 2 "
                     type="is-secondary"
              >Schnell zuschlagen!
              </b-tag>
              <b-tag v-for="tag in $page.gcms.product.tags" :key="tag"
                     type="is-warning">{{ tag }}
              </b-tag>
            </b-taglist>
          </h1>
          <div class="card-content">
            <h2>{{ $page.gcms.product.description }}</h2>
            <p v-html="$page.gcms.product.text.html" v-if="$page.gcms.product.text"/>
          </div>
          <div class="columns">
            <div class="column price is-half">
              <PriceTag :price="$page.gcms.product.price" :old-price="$page.gcms.product.oldPrice"/>
              {{ count ? count : 0 }} verfügbar
            </div>
            <div class="column is-half vertical-center has-text-right">
              <div class="button-container">
                <b-button v-if="getStationPlz()"
                          icon-left="cart-plus"
                          :disabled="isDisabled()"
                          type="is-secondary"
                          class="snipcart-add-item"
                          :data-item-id="$page.gcms.product.id + '-' + getStationPlz()"
                          :data-item-name="$page.gcms.product.name + ' (' + getStationName() + ')'"
                          :data-item-image="$page.gcms.product.thumbnail[0].url"
                          :data-item-price="$page.gcms.product.price"
                          :data-item-description="$page.gcms.product.description"
                          :data-item-url="'/snipcart-fetch'"
                          :data-item-categories="$page.gcms.product.categories.join('|')"
                          data-item-has-taxes-included="true"
                          v-on:click="track('addToBasketClicked',{id:$page.gcms.product.id, name:$page.gcms.product.name, price:$page.gcms.product.price, station_plz:getStationPlz(), station_name:getStationName() })"
                >Jetzt kaufen
                </b-button>
                <g-link v-else :to="'/stations'">Station auswählen</g-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
  import PriceTag from '../components/PriceTag'

  export default {
    components: {
      PriceTag
    },
    metaInfo() {
      return {
        title: 'Goofy'
      }
    },
    computed: {
      count: function() {
        return this.$store.getters.getInventoryForCurrentStation[this.$page.gcms.product.id]
      }
    },
    created() {
      console.log("created()")
      console.log("!this.$store.state.station: " + !this.$store.station)
      console.log("this.$route.query.station_plz: " + this.$route.query.station_plz)
      if (!this.$store.state.station && this.$route.query.station_plz) {
        const station = this.getStation(this.$route.query.station_plz)
        console.log(`setStation:${JSON.stringify(station)}`)
        this.$store.commit('setStation', station)
      }

      this.unsubscribe = this.$store.subscribe((mutation, state) => {
        if (mutation.type === 'INVENTORY_UPDATED') {
          console.log(`Updating to ${state.inventory}`);
          this.$forceUpdate();
        }
      });
    },
    methods: {
      getStationPlz() {
        const station_plz = (this.$store && this.$store.state.station) ? this.$store.state.station.plz : this.$route.query.station_plz
        console.log(`getStationPlz(): ${station_plz}`)
        return station_plz
      },
      getStationName() {
        return (this.$store && this.$store.state.station) ? this.$store.state.station.name : this.$route.query.station_name
      },
      isDisabled() {
        return ((this.count <= 0) || !this.getStationPlz())
      },
      getStation(stationPlz) {
        return this.$static.gcms.stations.filter(station => {
          return station.plz === stationPlz
        })[0]
      }
    }
  }
</script>

<style scoped>

  .button-container {
    width: 100%;
  }

  .cart-button {
    background-color: forestgreen;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 1rem;
  }

  .content {
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  }

  .content h1 {
    margin-bottom: 0;
  }

  .notification {
    height: 100%;
    padding: 0;
  }

  .tags {
    min-height: 2rem;
    margin: 0.313rem 0;
  }

  @media screen and (max-width: 768px){

    .button-container .button {
      position: fixed;
      bottom: 0;
      left: 0;
      margin: 0;
      height: 3rem;
      width: 100%;
      z-index: 100;
    }
  }
</style>

@formatter:off
<page-query>
query GetProduct($id: ID) {
    gcms {
        product(where: {id: $id}) {
      id
      stage
      name
      description
      price
      specialOffer
      oldPrice
      ingredients
      nutritionalInformation
      categories
      tags
      text {
          html
      }
      image {
        url(
          transformation: {
            image: { resize: { width: 1300, height: 700, fit: crop } }
          }
        )
      }
      thumbnail: image {
        url(
          transformation: {
            image: { resize: { width: 120, height: 90, fit: crop } }
          }
        )
      }
    }
  }
}
</page-query>
<static-query>
query {
  gcms {
    stations {
      id
      stage
      name
      location {
        latitude
        longitude
      }
      plz
      city
      street
    }
  }
}
</static-query>
