<template>
  <layout>
    <section class="section"
      v-for="section in this.$page.gcms.servicePage.section"
      :key="section.id">
      <cms-section
        :title="section.title"
        :hide-title="section.hideTitle"
        :text="section.text.html"
      />
    </section>
  </layout>
</template>

<script>
import CmsSection from '@/components/CmsSection'
export default {
  name: "ServicePages",
  components: { CmsSection },
  metaInfo() {
    return {
      title: 'Goofy'
    }
  },
}
</script>

<style scoped>

</style>
@formatter:off
<page-query>
query GetServicePage($name: String)
{
  gcms {
    servicePage(where: {name: $name}) {
      id
      name
      section {
        id
        title
        hideTitle
        text {
          html
        }
      }
    }
  }
}
</page-query>
