<template>
  <Layout>
    <div id="firebaseui-auth-container" :key="authKey"></div>
  </Layout>
</template>
<script>
  import Layout from '../layouts/AuthLayout'
  import {getFirebase} from '../firebase';

  export default {
    components: {
      Layout
    },
    name: 'auth',
    flag: false,
    metaInfo() {
      return {
        title: 'Goofy'
      }
    },
    data() {
      return {
        authKey: 0,
        authUi: null,
      };
    },
    methods: {
      forceRerender() {
        console.log("forceRerender");
        this.authKey += 1;
        this.$forceUpdate();
      },
      storeUi(ui) {
        this.authUi = ui;
      }
    },
    mounted() {
      console.log("Auth mounted");
      //workaround
        let users = ['gzockoll@gmail.com']
        const firebaseui = require('firebaseui')
        const lazyApp = import('firebase/app')
        const lazyAuth = import('firebase/auth')
        const that = this
        Promise.all([lazyApp, lazyAuth])
          .then( ([firebase]) => {
            console.log("Promise.all().then() with firebase", firebase);
            getFirebase(firebase).auth().onAuthStateChanged((user) => {
              if (this.$route.path === `/auth`) {
                console.log("Auth.onAuthStateChanged", user, "currentUser is ", this.$store.currentUser, "path is", this.$route.path);
                this.$store.commit('setCurrentUser', user)
              }
            })
            var uiConfig = {
              signInSuccessUrl:  window.location.href,
              signInFlow: 'redirect',
              signInOptions: [
                getFirebase(firebase).auth.GoogleAuthProvider.PROVIDER_ID,
                getFirebase(firebase).auth.EmailAuthProvider.PROVIDER_ID,
                getFirebase(firebase).auth.GithubAuthProvider.PROVIDER_ID
              ],
              callbacks:{
                signInSuccessWithAuthResult: function(authResult, redirectUrl) {
                  console.log("signInSuccess with authResult:", authResult, "and redirectUrl:", redirectUrl);
                  var user = authResult.user;
                  var credential = authResult.credential;
                  var isNewUser = authResult.additionalUserInfo.isNewUser;
                  var providerId = authResult.additionalUserInfo.providerId;
                  var operationType = authResult.operationType;
                  // Do something with the returned AuthResult.
                  // Return type determines whether we continue the redirect automatically
                  // or whether we leave that to developer to handle.
                  that.$router.push({path: '/'})
                  return false

                },
                signInFailure: function(error) {
                  // Some unrecoverable error occurred during sign-in.
                  // Return a promise when error handling is completed and FirebaseUI
                  // will reset, clearing any UI. This commonly occurs for error code
                  // 'firebaseui/anonymous-upgrade-merge-conflict' when merge conflict
                  // occurs. Check below for more details on this.
                  //return handleUIError(error);
                  console.log('signInFailure -> ' + error)
                },
                uiShown: function() {
                  // The widget is rendered.
                  // Hide the loader.
                  //document.getElementById('loader').style.display = 'none';
                }}
            };
            // Initialize the FirebaseUI Widget using Firebase.
            let ui = this.ui;
            if (!ui) {
              getFirebase(firebase).auth().setPersistence(getFirebase(firebase).auth.Auth.Persistence.LOCAL)
              ui = new firebaseui.auth.AuthUI(getFirebase(firebase).auth());
              this.storeUi(ui);
            }
            else {
              this.Rerender();
            }
            // The start method will wait until the DOM is loaded.
            ui.start('#firebaseui-auth-container', uiConfig);
        }).catch(err => {
          console.log("Auth.Promise error ", err);
          window.location.reload(false);
        })
    },
  }
</script>
