<template>
  <Layout>
    <div class="container">
      <div class="shop-link has-text-centered">
        <g-link class="button is-dark shop-link is-size-4" to="/stations/">
          <strong>Hier jetzt schon testen!</strong>
        </g-link>
      </div>
      <div class="columns is-multiline" v-for="(row, i) in $page.gcms.servicePages[0].rows" :key="i">
        <div class="column is-one-third-desktop is-half-tablet is-full-mobile" v-for="(section, j) in row.section"
             :key="j">
          <cms-section
            :title="section.title"
            :hide-title="section.hideTitle"
            :text="section.text.html">
          </cms-section>
        </div>
      </div>
    </div>
  </Layout>
</template>
<script>
    import Layout from '../layouts/Welcome'
    import CmsSection from "../components/CmsSection";
    export default {
        components: {
            Layout,
            CmsSection
        },
        name: 'Home',
        metaInfo: {
            title: 'Goofy',
            htmlAttrs: {
                lang: 'de',
            },
            bodyAttrs: {
                class: 'custom-body-class'
            }
        },
        mounted() {
            this.unsubscribe = this.$store.subscribe((mutation, state) => {
                if (mutation.type === 'setCurrentUser') {
                    this.$forceUpdate();
                }
            });
        },
        methods: {
            getUser() {
                const currentUser = this.$store.currentUser;
                return (currentUser != undefined) ? currentUser.displayName : undefined
            },
        }
    }
</script>

<style lang="scss">
  .shop-link {

    margin-bottom: 10px;
    margin-top: -10px;

    // Mobile
    @media screen and (max-width: 768px) {
      position: fixed;
      bottom: 0;
      left: 0;
      margin: 0;
      width: 100%;
      z-index: 100;
    }

    .button {
      border-radius: 10px;

      // Mobile
      @media screen and (max-width: 768px) {
        border-radius: 0;
      }
    }
  }

</style>

@formatter:off
<page-query>
  {
    gcms {
      servicePages(where: {name: "home"}) {
        id
        name
        rows {
          id
          section {
            id
            title
            hideTitle
            text {
              html
            }
         }
        }
      }
    }
  }
</page-query>

