<template>
  <Layout>
    <div class="content is-medium">
      <h1 >ACHTUNG</h1>
      <p class="is-large">Sie haben sich erfolgreich angemeldet. Sie sind aber noch nicht für die Nutzung des Goofy Prototypen
        freigeschaltet worden.</p>
      <p class="is-large">Bitte wenden Sie sich dazu an <a href="mailto:goofy_service@iteratec.com">goofy_service@iteratec.com</a>
        um sich für die Nutzung des Goofy Prototypen freischalten zu lassen. Nach erfolgter Freischaltung können Sie sich
        dann mit Ihren soeben erzeugten Accountdaten erneut anmelden und auf den Prototypen zugreifen.</p>
    </div>
    <a class="button is-primary" href="/auth">Zurück zum Login</a>
  </Layout>
</template>
<script>
  import Layout from '../layouts/AuthLayout'
  import {getFirebase} from '../firebase';

  export default {
    components: {
      Layout
    },
    name: 'auth',
    flag: false,
    metaInfo() {
      return {
        title: 'Goofy'
      }
    },
  }
</script>
