<template>
  <Layout>
    <div class="teaser">
      <Teaser />
    </div>
    <div class="columns is-multiline">
      <div
        class="column is-one-third-desktop is-half-tablet is-full-mobile"
        v-for="product in getProducts()"
        :key="product.id" >
        <div class="notification">
          <g-link :to="'/product/' + product.id">
            <b-carousel
              :autoplay="false">
              <b-carousel-item v-for="(image, i) in product.image" :key="i">
                <figure class="image is-4by3">
                  <img :src="image.url"/>
                </figure>
              </b-carousel-item>
            </b-carousel>
          </g-link>
          <div class="content">
            <p class="title is-centered is-size-4">{{ product.name }}
              <b-taglist>
                <b-tag v-if="product.specialOffer"
                       type="is-danger"
                >Angebot!
                </b-tag>
                <b-tag v-if="count(product.id) <= 0"
                       type="is-danger"
                >Ausverkauft!
                </b-tag>
                <b-tag v-else-if="count(product.id) <= 2 "
                       type="is-secondary"
                >Schnell zuschlagen!
                </b-tag>
                <b-tag v-for="tag in product.tags" :key="tag"
                       type="is-warning">{{ tag }}</b-tag>
              </b-taglist>
            </p>
            <div class="card-content">
              <p v-html="product.description"/>
            </div>
            <div class="columns">
              <div class="column price is-half">
                <PriceTag :price="product.price" :old-price="product.oldPrice"/>
                {{ count(product.id) ? count(product.id): 0 }} verfügbar
              </div>
              <div class="column is-half vertical-center has-text-right">
                <div class="button-container">
                  <b-button v-if="getStationPlz()"
                            icon-left="cart-plus"
                            :disabled="count(product.id) <= 0"
                            type="is-secondary"
                            class="snipcart-add-item"
                            :data-item-id="product.id + '-' + getStationPlz()"
                            :data-item-name="product.name + ' (' + getStationName() + ')'"
                            :data-item-image="product.thumbnail[0].url"
                            :data-item-price="product.price"
                            :data-item-description="product.description"
                            :data-item-url="'/snipcart-fetch'"
                            :data-item-categories="product.categories.join('|')"
                            data-item-has-taxes-included="true"
                            v-on:click="track('addToBasketClicked',{id:product.id, name:product.name, price:product.price, station_plz:getStationPlz(), station_name:getStationName() })"
                  >Jetzt kaufen
                  </b-button>
                  <g-link v-else :to="'/stations'" >Station auswählen</g-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
  import PriceTag from '@/components/PriceTag'
  import Teaser from '@/components/Teaser'

  export default {
    components: {
      PriceTag,
      Teaser
    },
    metaInfo() {
      return {
        title: 'Goofy'
      }
    },
    computed: {
      getInventory: function() {
        return this.$store.getters.getInventoryForCurrentStation
      }
    },
    mounted() {
      document.addEventListener('snipcart.ready', () => {
        // You can safely use window.Snipcart here
        Snipcart.events.on('cart.confirmed', (cartConfirmResponse) => {
          this.$forceUpdate();
        });
      });
    },
    methods: {
      getStationPlz() {
        return this.$store.state.station ? this.$store.state.station.plz : this.$route.query.station_plz
      },
      getStationName() {
        return this.$store.state.station ? this.$store.state.station.name : this.$route.query.station_name
      },
      track(event, options) {
        window.analytics.track(event, options);
      },
      getProducts() {
        return this.$page.gcms.products.filter(p => p.stations.map(s => s.plz).includes(this.getStationPlz()))
      },
      count(id) {
        return this.getInventory[id]
      }
    }
  }
</script>
<style scoped>
  .snipcart-add-item {
    margin: 5px;
  }

  .button-container {
    width: 100%;
  }

  @media screen and (max-width: 768px){

    .button-container .button {
      height: 3rem;
      width: 100%;
    }
  }

  .card a {
    color: #363636;
  }

  .card a:hover {
    color: #7957d5;
  }

  .card a:hover p {
    color: #7957d5;
  }

  .card-content {
    flex: 1;
  }

  div.teaser {
    margin-bottom: 24px;
  }

  .notification {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  }

  .content .title {
    margin-bottom: 0;
  }

  .tags {
    min-height: 2rem;
    margin: 0.313rem 0;
  }

</style>
:indicator-inside="false"
<page-query>
query {
  gcms {
    products {
      id
      stage
      name
      description
      price
      specialOffer
      oldPrice
      categories
      tags
      text {
          html
      }
      image {
        url(
          transformation: {
            image: { resize: { width: 600, height: 450, fit: crop } }
          }
        )
      }
      thumbnail: image {
        url(
          transformation: {
            image: { resize: { width: 120, height: 90, fit: crop } }
          }
        )
      }
      stations {
        name
        plz
      }
    }
  }
}
</page-query>
