<template>
  <Layout>
    <div>
      <div
        v-for="product in $page.gcms.products"
        :key="product.id">
        <div>
          <div class="content">
            <div v-for="station in product.stations" :key="station.plz">
                  <b-button icon-left="cart-plus"
                            type="is-secondary"
                            class="snipcart-add-item"
                            :data-item-id="product.id + '-' + station.plz"
                            :data-item-name="product.name + ' (' + station.name + ')'"
                            :data-item-image="product.thumbnail[0].url"
                            :data-item-price="product.price"
                            :data-item-description="product.description"
                            :data-item-url="'/product/' + product.id"
                            :data-item-categories="product.categories.join('|')"
                            data-item-has-taxes-included="true"
                  >{{ product.name + ' (' + station.name + ')' }}
                  </b-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
  import PriceTag from '@/components/PriceTag'
  import Teaser from '@/components/Teaser'

  export default {
    components: {
      PriceTag,
      Teaser
    },
    metaInfo() {
      return {
        title: 'Goofy'
      }
    },
    computed: {
      getInventory: function() {
        return this.$store.getters.getInventoryForCurrentStation
      }
    },
    methods: {
      count(id) {
        return this.getInventory[id]
      },
      track(event, options) {
        window.analytics.track(event, options);
      }
    }
  }
</script>
<style scoped>
  .snipcart-add-item {
    margin: 5px;
  }

  .card a {
    color: #363636;
  }

  .card a:hover {
    color: #7957d5;
  }

  .card a:hover p {
    color: #7957d5;
  }

  div.teaser {
    margin-bottom: 24px;
  }

</style>
:indicator-inside="false"
<page-query>
query {
  gcms {
    products {
      id
      stage
      name
      price
      categories
      thumbnail: image {
        url(
          transformation: {
            image: { resize: { width: 120, height: 90, fit: crop } }
          }
        )
      }
      stations {
        name
        plz
      }
    }
  }
}
</page-query>
