<template>
  <Layout>
    <div class="teaser">
      <Teaser />
    </div>
    <div class="columns is-multiline">
      <div
        class="column is-one-third-desktop is-half-tablet is-full-mobile"
        v-for="station in $page.gcms.stations"
        :key="station.id">
        <g-link :to="'/products'" >
          <figure class="image is-3by2" v-on:click="setStation(station)">
            <img v-if="station.image" :src="station.image.url"/>
          </figure>
        </g-link>
        <div class="notification">
          <div class="content has-text-left">
            <p class="title is-centered is-size-4">{{ station.name }}
            </p>
            <div class="card-content">
              <p>
                Latitude:&nbsp;&nbsp; {{station.location.latitude.toFixed(2)}}<br/>
                Longitude:&nbsp; {{station.location.longitude.toFixed(2)}}
              </p>
              <p class="address">
                <span v-if="station.street">{{station.street}}, </span>
                {{station.plz}} {{station.city}}
              </p>
            </div>
            <div class="columns">
              <div class="column is-full">
                <div class="button-container has-text-right">
                    <b-button icon-left="check-square"
                              :type="isSelected(station) ? 'is-primary' : 'is-secondary'"
                              class="station-select"
                              :data-item-id="station.id"
                              :data-item-name="station.name"
                              v-on:click="setStation(station)"
                    >Station auswählen
                    </b-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
  import Teaser from '@/components/Teaser'

  export default {
    components: {
      Teaser
    },
    metaInfo() {
      return {
        title: 'Goofy'
      }
    },
    methods: {
      track(event, options) {
        window.analytics.track(event, options);
      },
      setStation(station) {
        this.$store.commit('setStation',station)
        this.$router.push({path: '/products'})
      },
      isSelected(station) {
        return ((this.$store.station) && (this.$store.station.id === station.id))
      },
    }
  }
</script>
<style scoped>
  .station-select {
    margin: 5px;
  }

  .button-container {
    width: 100%;
  }

  @media screen and (max-width: 768px){

    .button-container .button {
      height: 3rem;
      width: 100%;
    }
  }

  .card a {
    color: #363636;
  }

  .card a:hover {
    color: #7957d5;
  }

  .card a:hover p {
    color: #7957d5;
  }

  .content .address {
    white-space: nowrap;
  }

  div.teaser {
    margin-bottom: 24px;
  }

  .notification {
    padding-right: 1.25rem;
  }

</style>
<page-query>
query {
  gcms {
    stations {
      id
      stage
      name
      location {
        latitude
        longitude
      }
      plz
      city
      street
      image {
        url(
          transformation: {
            image: { resize: { width: 600, height: 400, fit: crop } }
          }
        )
      }
    }
  }
}
</page-query>
