<template>
  <div class="container">
    <article class="media notification has-background-white">
      <figure class="media-left" v-if="icon">
                <span class="icon has-text-success">
                    <b-icon size="is-medium" :icon="icon" type="is-primary"/>
                </span>
      </figure>
      <div class="media-content">
        <div class="content">
          <h2 class="title" v-if="!hideTitle && title"> {{ title }} </h2>
          <div class="is-size-6" v-html="text"/>
        </div>
      </div>
    </article>
  </div>
</template>

<script>
  export default {
    name: "CmsSection",
    props: {
      title: {
        type: String,
        required: false
      },
      hideTitle: {
        type: Boolean,
        required: false
      },
      text: {
        type: String,
        required: true
      },
      icon: {
        type: String,
        required: false

      }
    }
  }
</script>

<style>
</style>
