<template>
  <footer class="footer">
      <div class="content">
        <div class="columns">
          <div class="column is-one-quarter">
            <p class="title is-4">Informationen</p>
            <g-link class="navbar-item has-text-weight-semibold" to="/service/impressum">Impressum</g-link>
            <g-link class="navbar-item has-text-weight-semibold" to="/service/agb">AGB</g-link>
            <g-link class="navbar-item has-text-weight-semibold" to="/service/faq">FAQ</g-link>
          </div>
          <div class="column">
            <p class="title is-4">Kontakt aufnehmen</p>
            <a class="navbar-item has-text-weight-semibold" href="#" onclick="fby.push(['showForm', '15345']);return false;">Feedback geben</a>
          </div>
        </div>
      </div>
  </footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>

</style>
