<template>
    <div class="section">
        <div class="notification has-background-white is-one-third">
            <b-carousel>
                <b-carousel-item v-for="(image, i) in images" :key="i">
                    <figure class="image is-4by3">
                        <img :src="image.url" />
                    </figure>
                </b-carousel-item>
            </b-carousel>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash'
    function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
        }
    }

    export default {
        name: "ImageBanner",
        computed: {
            images() {
                const images = this.$static.gcms.products.map(it => it.image).flat()
                return _.shuffle(images)
            }
        }
    }
</script>

<style scoped>

</style>

<static-query>
query {
  gcms {
    products {
      image {
        url(
          transformation: {
            image: { resize: { width: 1300, height: 975, fit: crop } }
          }
        )
      }
    }
  }
}
</static-query>
