
<template>
  <b-navbar class="has-background-grey-lighter is-5 has-text-white is-fixed-top">
      <template slot="brand">
          <g-link
              to="/"
              class="navbar-item">
              <g-image
                  src="https://media.graphcms.com/resize=,width:80/hzulmDcRr2jSNmaZtcwT"
                  width="80"
                  alt="Temporary Goofy Logo" />
          </g-link>
      </template>
      <template slot="start">
          <g-link
              to="/"
              class="navbar-item">
              Goofy
          </g-link>
          <g-link
              to="/stations"
              class="navbar-item">
              Standorte
          </g-link>
          <g-link
              to="/products"
              class="navbar-item">
              Angebote
          </g-link>
          <g-link
              to="/service/kontakt"
              class="navbar-item">
              Kontakt
          </g-link>
          <g-link
              to="/service/about"
              class="navbar-item">
              Über uns
          </g-link>
      </template>
      <template slot="end">
          <b-navbar-item tag="div">
              <div class="buttons">
                  <div class="columns">
                    <div class="column" v-if="$store && $store.state.station">
                        <b-taglist>
                          <g-link to="/stations">
                            <b-tag size="is-medium" type="secondary">{{ $store.state.station.name }}</b-tag>
                          </g-link>
                        </b-taglist>
                    </div>
                    <div class="column">
                        <div class="container">
                            <b-button icon-left="shopping-cart is-primary" class="snipcart-checkout is-primary">
                                <span title="Badge top right" class="badge"><span class="snipcart-items-count"></span></span>
                                Einkaufswagen</b-button>
                        </div>
                    </div>
                    <div class="column">
                      <b-button class="snipcart-customer-signin">Mein Konto</b-button>
                    </div>
                    <div class="column">
                      <b-button class="is-primary" v-on:click="logout()">Logout</b-button>
                    </div>
                  </div>
              </div>
          </b-navbar-item>
      </template>
  </b-navbar>
</template>

<script>
export default {
  data: () => ({
    isMenuActive: false,
    searchTerm: ''
  }),
  computed: {
    cart () {
      return [] //this.$store.state.cart
    },
  },
  methods: {
    logout() {
      console.log("about to be logged out")
      this.$store.dispatch('logout')
    }
  }
}
</script>

<style>
.navbar-burger {
  background-color: transparent;
  border: none;
}
nav.navbar, nav.navbar.is-fixed-top {
    z-index: 10;
}
</style>
