<template>
    <div>
        <span class="is-size-4">
            {{ price }} <b-icon icon="euro-sign" size="is-small" />
        </span>
        <span class="is-size-7 has-text-grey-light" style="text-decoration: line-through" v-if="oldPrice">
            {{ oldPrice }} <b-icon icon="euro-sign" size="is-small" />
        </span>

    </div>
</template>

<script>
    export default {
        name: "PriceTag",
        props: {
            price: {
                type: Number,
                required: true
            },
            oldPrice: {
                type: Number,
                required: false
            }
        }

    }
</script>

<style scoped>

</style>
