<template>
  <b-carousel :interval="6000" :pause-hover="false">
    <b-carousel-item v-for="(carousel, i) in carousels" :key="i">
      <section :class="`hero is-${carousel.color} is-bold`">
        <div class="hero-body has-text-centered">
          <g-image :immediate="true" :src="require(`!!assets-loader?width=32&height=32!@images/${carousel.image}`)" />
          <h1 class="title is-size-1-desktop is-size-2-tablet is-size-3-mobile">{{carousel.title}}</h1>
          <h2 class="subtitle" v-if="carousel.text">{{carousel.text}}</h2>
        </div>
      </section>
    </b-carousel-item>
  </b-carousel>
</template>

<script>
  export default {
    data(){
      return {
        carousels: [
          { title: 'Goofy', text: 'by iteratec', color: 'primary', image: 'Brand_Icon_Blitz_white_rgb.svg' },
          { title: 'OOP 2021', text: 'SaaS Baukasten mit dem Jamstack, Guido Zockoll, Uwe Beßle', color: 'light', image: 'Brand_Icon_Wegweiser_white_rgb.svg' },
          { title: 'Code: DEMO15', text: 'Aktion bis zum 31.5', color: 'info', image: 'Brand_Icon_Zielscheibe_white_rgb.svg' },
          { title: '20% auf Burger', text: 'Code: WE-LOVE-BURGER', color: 'secondary', image: 'Brand_Icon_Rakete_white_rgb.svg' }
        ]
      }
    }
  }
</script>
