@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #9D1681;
$primary-invert: findColorInvert($primary);
$secondary: #00B2BB;
$secondary-invert: findColorInvert($secondary);
$info: #FFE500;
$info-invert: findColorInvert($info);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "secondary": ($secondary, $secondary-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import "~bulma";
@import "~buefy/src/scss/buefy";

h1.title {
  font-size: 5rem;
  font-weight: bold;
}

h2.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
