<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>
<script>
  import {getFirebase} from './firebase';

  export default {
    name: 'app',
    mounted() {
      const lazyApp = import('firebase/app')
      const lazyAuth = import('firebase/auth')
      const lazyDb = import('firebase/firestore')
      Promise.all([lazyApp, lazyAuth, lazyDb]).then(([firebase]) => {
        getFirebase(firebase).auth().onAuthStateChanged((user) => {
          if (this.$route.path !== `/auth`) {
            console.log("App.onAuthStateChanged", user, "currentUser is ", this.$store.currentUser, "path is", this.$route.path);
            if (user) {
              this.$store.commit('setCurrentUser', user)
              var db = getFirebase(firebase).firestore()
              db.collection('stations').onSnapshot(snap => {
                const inv = new Map(snap.docs.map(doc => [doc.id, doc.data().products]));
                this.$store.commit("setInventory", inv)
                this.$store.commit('INVENTORY_UPDATED')
              })
            } else {
              this.$router.push({path: `/auth`, query: { redirectUrl: this.$route.path }});
            }
          }
        })
      })
    }
  }
</script>
