<template>
  <div>
    <section class="banner has-background-primary is-fixed-top">
      <div class="container">
        <br>
      </div>
    </section>
    <section class="logo is-half has-background-grey-lighter">
      <div class="hero-body">
        <div class="container has-text-centered">
          <g-image src="~/images/online_groceries.svg" width="100" :immediate="true"/>
          <h1 class="title">Goofy</h1>
          <h2 class="subtitle">Präsentiert von iteratec</h2>
        </div>
      </div>
    </section>
    <section class="banner has-background-primary is-fixed-top">
      <div class="container">
        <h4 class="has-text-white">
          Melden Sie sich an, um die Anwendung aufzurufen
        </h4>
      </div>
    </section>
    <section class="section">
      <slot/>
    </section>
  </div>
</template>

<style lang="scss">

  .banner {
    width: 100%;
    text-align: center;
    z-index: 100;
  }
</style>
